[Unit]
Description=T2 Force Click daemon
After=multi-user.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/t2-force-click --daemon
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
